@charset "utf-8";
/* ここからリセットCSS */

/* Box sizingの定義 */
/* *, *::before, *::after {
    box-sizing: border-box;
} */

/* bodyのデフォルトを定義 */
body {
    font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic',sans-serif;
}

/* デフォルトのmarginを削除 */
body, h1, h2, h3, p, ul, li {
    margin: 0;
}

/* デフォルトのpaddingを削除 & 要素のリストスタイルを削除 */
ul, ol {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* ここまでリセットCSS */

/* ここからヘッダー関係 */
header {
    height: 70px;
    line-height: 70px;
    position: relative;
    z-index: 3;  /* .menuをマップや#menu-black-closeよりも上位に配置するため。 */
}

#bousai-link {
    display: none;
}

#logo {
    display: block;
    margin: 0 auto;
    width: 195px;
    height: 65px;
}
#logo img {
    width: 195px;
    height: 65px;
}

#hamburger {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 40px;
    padding: 5px 10px;
}
#hamburger span {
    position: relative;
    right: -2.5px;
    display: block;
    width: 25px;
    height: 3px;
    background-color: rgb(27, 104, 8);
    border-radius: 3px;
    transition-duration: 0.5s;
}
#hamburger span:nth-child(1) {
    top: 0;  /* アニメーションを綺麗にするために必須。 */
}
#hamburger span:nth-child(2) {
    top: 6px;
}
#hamburger span:nth-child(3) {
    top: 12px;
}
#hamburger span:nth-child(4) {
    top: 18px;
    right: 9.5px;
    width: 50px;
    height: auto;
    line-height: normal;
    background-color: transparent;
    border-radius: 0;
    transition-duration: 0s;
    font-size: 12px;
}
#hamburger.ham-open span:nth-child(1) {
    top: 9px;
    transform: rotate(45deg);
}
#hamburger.ham-open span:nth-child(2) {
    transform: translateY(-100%);
    opacity: 0;
}
#hamburger.ham-open span:nth-child(3) {
    top: 3px;
    transform: rotate(-45deg);
}
.menu {
    transform: translateY(-150%);
    transition-duration: .5s;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: white;
}
.ham-open ~ .menu {
    transform: translateY(0%);
}

#menu-black-close {
    z-index: -1;  /* #menu-black-closeを全ての背面に配置するため。 */
    opacity: 0;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    transition: .5s;
}

.menu li {
    border-top: 1px solid lightgray;
}
/* .menu li:first-child {
    color: white;
    background-color: darkslategray;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    border-top: none;
} */
.menu li a {
    display: block;
    padding: 0 25px;
}
/* ここまでヘッダー関係 */

#description-h1 {
    text-align: center;
    margin: 50px 0;
    font-size: 18px;
}
#description-box {
    text-align: center;
    margin: 0 20px;
}
#description-box ul {
    margin: 10px 20px 30px 50px;
}
#description-box ul .syurui-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 11px;
}
#description-box ul li {
    text-align: left;
}
#description-box p {
    display: inline-block;
    text-align: left;
}

#to-map {
    display: block;
    margin: 30px auto;
    width:  100px;
    text-align: center;
    position: relative;
    z-index: 0; /* #menu-black-closeと同じ階層に配置するため。 */
    padding: 20px;
    color: white;
    background-color: green;
    border-radius: 22px;
}

footer {
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    color: white;
    background-color: darkslategray;
}

@media (min-width: 768px) {
    #bousai-link {
        display: inline-block;
        margin-left: 7%;
        position: absolute;
    }

    /* #logo {
        width: 195px;
        height: 65px;
    }
    #logo img {
        width: 195px;
        height: 65px;
    } */

    #hamburger {
        right: 35px;
    }

    #description-h1 {
        font-size: 30px;
    }
    #description-box {
        margin: 0 100px;
    }
    #description-box ul {
        margin: 10px 20px 30px 180px;
    }
}

@media (min-width: 1200px) {
    #description-box {
        margin: 0 200px;
    }
    #description-box ul {
        margin: 10px 20px 30px 450px;
    }
}