<%
  const listMeta = {
    description: '「いなさで暮らそうマップ」の社会資源一覧ページでは、「いなさで暮らそうマップ」に載っている引佐町の社会資源を一覧形式で表示しています。社会資源は7つの種類ごとにまとまっています',
    pageURL: 'https://www.sugilab.net/inasa-map/list.html',
    title: '社会資源一覧 - いなさで暮らそうマップ'
  }
%>

<%- include('./_head.ejs', { meta: listMeta }) %>

    <div id="loading">
        <img id="loadImg1" src="../../dist/img/logo.png" alt="「いなさで暮らそうマップ」のロゴ">
        <p>社会資源データを<br>読み込んでいます...</p>
        <img id="loadImg2" src="../../dist/img/loading-square.gif" alt="ローディングのアニメーション">
    </div>

    <h1>社会資源一覧</h1>
    <p id="list-description">「いなさで暮らそうマップ」で閲覧できる社会資源の一覧を確認できます。</p>
    <div id="ac-container"></div>

    <footer>
        <small>Copyright&copy; 2020-2021 地域包括支援センター細江 All Rights Reserved.</small>
    </footer>
</body>
</html>