@charset "utf-8";

// Box sizingの定義
// *, *::before, *::after {
//     box-sizing: border-box;
// }

// bodyのデフォルトを定義
body {
    font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',YuGothic,'Yu Gothic',sans-serif;
}

// デフォルトのmarginを削除
body, h1, h2, h3, p, ul, li {
    margin: 0;
}

// デフォルトのpaddingを削除 & 要素のリストスタイルを削除
ul, ol {
    padding: 0;
    list-style: none;
}

// aタグの下線を削除 & 色を黒に変更
a {
    text-decoration: none;
    color: black;
}