@charset "utf-8";
@import "reset", "header";

#description-h1 {
    text-align: center;
    margin: 50px 0;
    font-size: 18px;
}
#description-box {
    text-align: center;
    margin: 0 20px;
}
#description-box ul {
    margin: 10px 20px 30px 50px;
}
#description-box ul .syurui-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 11px;
}
#description-box ul li {
    text-align: left;
}
#description-box p {
    display: inline-block;
    text-align: left;
}
#to-map {
    display: block;
    margin: 30px auto;
    width:  100px;
    text-align: center;
    position: relative;
    z-index: 0; /* #menu-black-closeと同じ階層に配置するため。 */
    padding: 20px;
    color: white;
    background-color: green;
    border-radius: 22px;
}
footer {
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    color: white;
    background-color: darkslategray;
}

@media (min-width: 768px) {
    #description-h1 {
        font-size: 30px;
    }
    #description-box {
        margin: 0 100px;
    }
    #description-box ul {
        margin: 10px 20px 30px 180px;
    }
}

@media (min-width: 1200px) {
    #description-box {
        margin: 0 200px;
    }
    #description-box ul {
        margin: 10px 20px 30px 450px;
    }
}