@charset "utf-8";

header {
    height: 70px;
    line-height: 70px;
    position: relative;
    z-index: 3;  /* .menuをマップや#menu-black-closeよりも上位に配置するため。 */
}
#bousai-link {
    display: none;
}
#logo {
    display: block;
    margin: 0 auto;
    width: 195px;
    height: 65px;
    img {
        width: 195px;
        height: 65px;
    }
}
#hamburger {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 40px;
    padding: 5px 10px;
    span {
        position: relative;
        right: -2.5px;
        display: block;
        width: 25px;
        height: 3px;
        background-color: rgb(27, 104, 8);
        border-radius: 3px;
        transition-duration: 0.5s;
        &:nth-child(1) {
            top: 0;  /* アニメーションを綺麗にするために必須。 */
        }
        &:nth-child(2) {
            top: 6px;
        }
        &:nth-child(3) {
            top: 12px;
        }
        &:nth-child(4) {
            top: 18px;
            right: 9.5px;
            width: 50px;
            height: auto;
            line-height: normal;
            background-color: transparent;
            border-radius: 0;
            transition-duration: 0s;
            font-size: 12px;
        }
    }
    &.ham-open span:nth-child(1) {
        top: 9px;
        transform: rotate(45deg);
    }
    &.ham-open span:nth-child(2) {
        transform: translateY(-100%);
        opacity: 0;
    }
    &.ham-open span:nth-child(3) {
        top: 3px;
        transform: rotate(-45deg);
    }
}

.menu {
    transform: translateY(-150%);
    transition-duration: .5s;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: white;
    li {
        border-top: 1px solid lightgray;
        a {
            display: block;
            padding: 0 25px;
        }
    }
}
.ham-open ~ .menu {
    transform: translateY(0%);
}
#menu-black-close {
    z-index: -1;  /* #menu-black-closeを全ての背面に配置するため。 */
    opacity: 0;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    transition: .5s;
}

@media (min-width: 768px) {
    #bousai-link {
        display: inline-block;
        margin-left: 7%;
        position: absolute;
    }
    #hamburger {
        right: 35px;
    }
}