@charset "utf-8";

#loading {
    width: 100vw;
    height: 100vh;
    background-color: #eeffee;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
}
#loading img {
    position: absolute;
    width: 200px;
}
#loadImg1 {
    top: 25%;
    left: 50%;
    transform : translate(-50%, -25%);
}
#loadImg2 {
    top: 55%;
    left: 50%;
    transform : translate(-50%, -55%);
}
#loading p {
    position: absolute;
    top: 40%;
    left: 50%;
    transform : translate(-50%, -40%);
}
.fadeout {
    animation : fadeOut 500ms both;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (min-width: 768px) {
    #loadImg1 {
        top: 30%;
        transform : translate(-50%, -30%);
    }
    #loadImg2 {
        top: 50%;
        transform : translate(-50%, -50%);
    }
    #loading p {
        top: 40%;
        transform : translate(-50%, -40%);
    }
}