@charset "utf-8";
@use "reset";
@use "header";
@use "loading";

#inasa-map {
    width: 100vw;
    height: calc(90vh - (70px + 30px));
}

/* ここから「できること」検索 */
#checkbox {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    display: inline-block;
    max-width: calc(100% - 40px); /* 両サイドに最低15px(+padding両サイド5px)の空白を作るため。 */
    max-height: 80%;
    padding: 5px;
    position: absolute;
    top: 85px;
    left: 15px;
    z-index: 1; /* 「現在地を取得」より前に出すため。 */
}
#checkbox #check-open-close {
    background-color: white;
    padding: 3px 5px;
    border-radius: 5px;
    border: solid 1px black;
}
/* チェックボックスのスタイルここから */
#checkbox input[type="checkbox"] {
    display: none;
}
#checkbox input[type="checkbox"]+label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 20px;
    padding-right: 10px;
}
#checkbox input[type="checkbox"]+label::before {
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    margin-top: -10px;
    left: 0;
    top: 50%;
    border: 1px solid;
    border-color:  #585753;
    background-color: #FFF;
}
#checkbox input[type="checkbox"]:checked+label::after {
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 12px;
    height: 6px;
    margin-top: -9px;
    top: 60%;
    left: 2px;
    transform: rotate(-45deg);
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-color: #235523;
}
#checkbox input[id^="check7-"]:checked+label::after {
    border-color: #ff66cc;
}
/* チェックボックスのスタイルここまで */
#checkbox label {
    display: inline-block;
    margin: 4px 5px 5px 2px;
}
#checkbox #check-open-close.check-open-close ~ * {
    display: none;
}
#checkbox input#acd-check, #checkbox input#acd-check+label::before, #checkbox input#acd-check:checked+label::after {
    display: none;
}
#checkbox #acd-label {
    background-color: white;
    color: black;
    padding: 3px 5px 3px 0;
    border-radius: 5px;
    margin: 0 7px;
    border: solid 1px black;
}
#checkbox #acd-content {
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
#checkbox #acd-check:checked + #acd-label + #acd-content {
    height: 250px;
    overflow-y: scroll;
    opacity: 1;
    visibility: visible;
    margin-top: 15px;
}
#checkbox .check-all-none {
    background-color: white;
    padding: 3px 5px;
    border-radius: 5px;
    border: solid 1px black;
}
#checkbox #search-button {
    display: block;
    width: 100px;
    text-align: center;
    margin: 10px auto;
    padding: 3px 5px;
    color: white;
    background-color: #457745;
    border-color: solid 1px white;
    border-radius: 5px;
}
#checkbox #hit-count {
    margin: 12px 0 4px 0;
}
#checkbox #check-result {
    max-height: 345px;
    overflow-y: scroll;
}
#checkbox #acd-check:checked + label + div + p + hr + #check-result {
    max-height: 80px;
}
/* ここまで「できること」検索 */

#current-location-button {
    position: absolute;
    bottom: 85px;
    left: 10px;
    background-color: white;
    font-size: 14px;
    padding: 3px 5px;
    border-radius: 5px;
    border: solid 1px black;
}

/* アイコン凡例のモーダルここから */
#modal-open-btn {
    position: absolute;
    bottom: 50px;
    left: 10px;
    background-color: white;
    font-size: 14px;
    padding: 3px 5px;
    border-radius: 5px;
    border: solid 1px black;
}
#modal-wrapper {
    display: none;
    z-index: -1;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
#modal-bg {
    background: rgba(10,30,10,0.9);
    height: 100vh;
    position: absolute;
    width: 100%;
}
#modal-content {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-height: 350px;
    overflow-y: scroll;
    padding: 5px 15px 10px 15px;
    font-size: 14px;
}
.modal-description {
    font-size: 12px;
    margin-top: 10px;
}
#modal-content ul {
    margin: 10px 0 20px 0;
}
#modal-content ul .syurui-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 11px;
}
.modal-close-btn {
    color: white;
    background-color: black;
    padding: 3px 5px;
    display: block;
    width: 50px;
    text-align: center;
    margin: 5px auto;
}
/* アイコン凡例のモーダルここまで */

footer {
    text-align: center;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    color: white;
    background-color: darkslategray;
}

@media (max-width: 350px) {
    .br-350 {
        display: none;
    }

    #checkbox #acd-check:checked + #acd-label + #acd-content {
        height: 180px;
    }
    #checkbox #check-result {
        max-height: 240px;
    }
    #checkbox #acd-check:checked + label + div + p + hr + #check-result {
        max-height: 40px;
    }
}

@media (min-width: 768px) {
    /* ここから「できること」検索 */
    #checkbox {
        font-size: 18px;
        max-width: 70%;
    }
    #checkbox #acd-check:checked + #acd-label + #acd-content {
        height: 280px;
    }
    #checkbox #check-result {
        font-size: 16px;
        max-height: 495px;
    }
    #checkbox #acd-check:checked + label + div + p + hr + #check-result {
        max-height: 200px;
    }
    /* ここまで「できること」検索 */

    #current-location-button {
        bottom: 125px;
    }

    #modal-open-btn {
        bottom: 90px;
    }
    #modal-content {
        max-height: initial;
        max-height: auto;
    }
}

@media (min-width: 1200px) {
    #inasa-map {
        height: calc(100vh - (70px + 30px));
    }

    #current-location-button {
        bottom: 95px;
    }
    #modal-open-btn {
        bottom: 60px;
    }
}